
<%- include('header'); -%>

    <div class="box" id="heading">
        <h1><%= title %></h1>
    </div>

    <div class="box">
        <% for (let i = 0; i < newItemVar.length; i++ ) {%>
            <div class="item">
                <input type="checkbox">
                <p> <%= newItemVar[i] %></p>
            </div>
        <%}%>
    </div>

    <form action="/" method="post">
        <input type="text" name="itemNew" placeholder="New Item" autocomplete="off">
        <button type="submit" name = "list" value= <%= title %>>+</button>
    </form>

<%- include('footer'); -%>

